.subheading
{text-align: justify;}

.subheading_center
{
    text-align: center;
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}


.hid
{
    display:none;
}